// Color.
$colorGrey: #e5e5e5;
$colorBlue: #0f265c;
$colorBlack: #1a1a1a;
$colorWhite: #fff;
$colorStep: #b7b7b9;

// Global.
$sizeDesktopBig: 1280px;
$sizeDesktopSmall: 1120px;
$sizeTablet: 960px;
$sizeMobileBig: 640px;
$sizeMobileMid: 480px;
$sizeMobileSmall: 320px;
